:root {
	--rem-base: 10px;
	--base-font-size: 16px;
	--base-line-height: 1.6;
	--vertical-rhythm: calc(var(--base-line-height) * 1em);
	--brand-color: #193346;
	--brand-color-dark: #050a0e;
	--brand-color-light: #2d5c7e;
	--accent-color: #193346;
	--accent-color-dark: #050a0e;
	--accent-color-light: #050a0e;
	--base-text-color: #0f0f0f;
	--base-link-color: #6b7280;
	--h1-h6-color: #0f0f0f;
	--animation-duration: 0.3s;
	--animation-timing-function: ease;
	--input-x: 20px;
	--gutter: 20px;
	--input-color: #6b7280;
	--input-placeholder-color: #6b7280;
	--input-bg-color: white;
	--input-radius: 3px;
	--input-border-color: #d9d9d9;
	--input-focus-border-color: #b8b8b8;
	--form-theme-color: #193346;
	--checkbox-size: 16px;
	--radio-size: 16px;
	--label-fz: 13px;
	--label-color: #6b7280;
	--error-color: #e04562;
	--error-bg-color: #fadee3;
	--form-col-gutter: 15px;
	--form-row-margin: 22.5px;
	--h1: 65px;
	--h2: 46px;
	--h3: 32px;
	--h4: 20px;
	--h5: 18px;
	--h6: 14px;
	--btn-y: 15px;
	--btn-x: 20px;
	--btn-b: 1px;
	--btn-r: 0;
	--btn-fz: 16px;
}
@media (max-width: 1024px) {
	:root {
		--h1: 40px;
		--h2: 38px;
		--h3: 24px;
		--h4: 20px;
		--h5: 18px;
		--h6: 14px;
	}
}
@media (max-width: 667px) {
	:root {
		--btn-y: 1rem;
		--btn-x: 2rem;
		--btn-b: 1px;
		--btn-r: 3px;
		--btn-fz: 13px;
	}
}
@media (min-width: 812px) and (max-height: 414px) and (orientation: landscape) {
	:root {
		--gutter: 50px;
	}
}
